/* EDIT ANYTHING YOU WANT */
.title {
  color: black;
  font-family: Roboto-Black;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.subtitle {
  color: black;
  font-family: Roboto-Black;
  font-size: 12px;
  font-weight: semi-bold;
}

.max-width-1000 {
  max-width: 1000px;
}

.header {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  font-family: Verdana;
  color: black;
}

.center {
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: auto;
  font-family: Verdana;
  font-size: 12px;
}

.equation {
  item-align: center;
  width: auto;
  height: auto;
}

.flex {
  display: flex;
  width: auto;
}

.header {
  display: flex;
  flex-direction: column;
}

.state-hex {
  dominant-baseline: central;
  text-anchor: middle;
}

.state-hex-label {
  font-family: Roboto;
  font-size: 10px;
  pointer-events: none;
}

.selected {
  fill: white;
}

.checkbox input {
  height: 20px;
  width: 20px;
}

.checkbox span {
  font-size: 20px
}


.not-enough-cols {
  align-items: center;
  display: flex;
  font-size: 40px;
  justify-content: center;
  width: 400px;
}

.description {
  max-width: 370px;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.full {
  height: 100%;
  top: 0;
  width: 100%;
}

.rv-hint {
  background: black;
  border-radius: 4px;
  color: white;
  font-family: sans-serif;
  font-size: 10px;
  padding: 6px;
  text-transform: uppercase;
}

.main-animation {
  width: 600px;
  height: 200px;
}

.sub-animation {
  width: 150px;
  height: 100px;
}

.checkbox-wave {
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  width: 12px;
  height: 12px;
}

svg {
  align-content: center;
}

.animationFive {
  width: 1100px;
  height: 420px;
}

path {
  stroke: #2727e6;
  stroke-width: 1px;
  stroke-linecap: round;
  fill: none;
}

.slidecontainer {
  width: 600px;
}

.slider {
  -webkit-appearance: none;
  width: 600px;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}
